.primary {
    background-color: #01acee;
}

.primary--text {
    color: #01acee;
}

.danger {
    background-color: rgb(255, 124, 124);
}

.danger--text {
    color: rgb(255, 124, 124);
}

.light {
    background-color: rgb(255, 255, 255);
}

.light--text {
    color: rgb(255, 255, 255);
}